# Dependencies
node_modules/

# Build
dist/
cdk.out/
.build/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Misc
*.tsbuildinfo
*.log
